@import url('./reset.css');
@import url('../fonts/fonts.css');

:root {
    --color-primary: #2A6CEA;
    --color-primary-80: rgba(42, 108, 234, 0.8);
    --headline-5-color: #191c1f;

    --color-black: #191c1f;
    --color-dark-gray: #5e646a;
    --color-gray: #83898f;
    --color-mid-gray: #c2c8cd;
    --color-light-gray: #eceff2;
    --color-extralight-gray: #f6f8fa;
    --color-white: #ffffff;
    --color-green: #25cd82;
    --color-red: #f13636;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Graphik LCG', sans-serif;
    font-style: normal;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Graphik LCG', sans-serif;
    text-align: center;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.23;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.button {
    padding: 20px 40px;
    font-weight: 700;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.button:active {
    transform: translate(0, -1px);
}

.button-default {
    background-color: var(--color-light-gray);
    color: var(--color-black);
}

.button-default:hover {
    background-color: var(--color-white);
}

.button-primary {
    background-color: var(--color-primary);
    font-weight: 400;
    color: var(--color-white);
}

.button-primary[disabled], 
.button-primary[disabled]:hover {
    background-color: #9cbcfb;
    cursor: not-allowed;
}

.button[disabled]:active {
    transform: none;
}

.button-primary:hover {
    background-color: var(--color-primary-80);
}

.container {
    margin: 0 auto;
    max-width: 1256px;
    padding: 0 20px;
}

/* HEADER START */

.header {
    width: 100%;
    min-height: 960px;
    background: linear-gradient(180deg, var(--color-primary-80) 0%, var(--color-primary-80) 100%), url('../images/header/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header-bottom {
    margin: 0 auto;
    margin-top: 233px;    
    max-width: 748px;
    color: var(--color-white);
    text-align: center;
}

.header-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.23;
    color: var(--color-white);
}

.header-text {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
}

.header-button {
    margin-top: 92px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo span {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-white);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    display: flex;
    width: 0%;
    height: 1px;
    background-color: var(--color-white);
    left: 50%;
    bottom: 2px;
    border-radius: 2px;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}
  
.nav-item:hover::after {
    content: '';
    width: 95%;
}

.burger-menu-button {
    position: relative;
    display: none;
    width: 62px;
    height: 62px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.burger-menu-button::before {
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--color-white);
}

.burger-menu-button::after {
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--color-white);
}

.nav-open ~ .burger-menu-button::before {
    transform: rotate(45deg);
    top: 50%;
    position: absolute;
}

.nav-open ~ .burger-menu-button::after {
    transform: rotate(-45deg);
    top: 50%;
    position: absolute;
}

@media (max-width: 768px) {
    .burger-menu-button {
        display: flex;
        position: relative;
        z-index: 999;
    }

    body.nav-open {
        overflow: hidden;
    }

    .logo {
        position: relative;
        z-index: 999;
    }

    body.nav-open .logo span {
        color: var(--color-black);
    }

    .nav.nav-open ~ .burger-menu-button::before,
    .nav.nav-open ~ .burger-menu-button::after {
        background-color: var(--color-black);
    }

    .nav {
        /* display: none; */
        position: fixed;
        visibility: hidden;
        background-color: var(--color-white);
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 0;
        opacity: 0;
        transition: opacity .3s ease;
    }

    .nav.nav-open {
        display: flex;
        opacity: 1;
        visibility: visible;
        left: 0;
    }

    .nav.nav-open > div {
        width: 100%;
        height: 100%;
    }

    .nav .nav-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        width: 100%;
        padding: 80px 16px 16px 16px;
    }

    .nav-item {
        border-top: 2px solid var(--color-light-gray);
        width: 100%;
        padding: 16px 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.77;
        color: var(--color-gray);
    }

    .nav-item a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .nav-item a::after {
        display: flex;
        align-items: center;
        justify-content: center;
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        right: 3px;
        top: calc(50% - 9px);;
        background: url('../images/fi-sr-angle-left.svg');
        background-size: cover;
        transform: rotate(180deg);
    }

    .nav-item:last-child {
        border-bottom: 2px solid var(--color-light-gray);
    }

    .header {
        height: 1024px;
    }

    .header-bottom {
        margin-top: 317px;
    }

    .header-button {
        margin-top: 40px;
    }

    .header-title h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
    }

    .header-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
    }

    .container {
        max-width: 756px;
    }
}

@media (max-width: 468px) {
    .header, .header-bg, .header-bg-color {
        height: 596px;
    }

    .header-bottom {
        margin-top: 92px;
    }

    .header-title h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
    }

    .header-button {
        margin-top: 26px;
    }
}

@media (max-width: 320px) {
    .header, .header-bg, .header-bg-color {
        height: 509px;
    }

    .header-bottom {
        margin-top: 48px;
    }
}

/* HEADER END */

/* HOW-IT-WORKS START */

.how-it-works {
    margin: 0 auto;
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.how-it-works-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.how-it-works-title {
    color: var(--color-black);
}

.how-it-works-item {
    max-width: 280px;
    display: flex;
    flex-direction: column;
}

.how-it-works-icon {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
    pointer-events: none;
    user-select: none;
}

.how-it-works-features {
    display: flex;
    gap: 32px;
}

.how-it-works-description {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--color-black);
}

.how-it-works-subtext {
    color: var(--color-dark-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.how-it-works-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.how-it-works-bottom-right {
    flex: 50%;
    align-self: center;
}

.how-it-works-bottom-right img {
    width:max-content;
}

.how-it-works-bottom-left {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
}

.how-it-works-bottom-left .title {
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--color-black);
}

.how-it-works-bottom-left .subtext {
    color: var(--color-dark-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.how-it-works-bottom-left .subtext:not(:last-child) {
    margin-bottom: 30px;
}

@media (max-width: 978px) {
    .how-it-works-bottom-left .title {
        font-size: 20px;
        line-height: 1.2;
    }
}

@media (max-width: 940px) {
    .how-it-works-features {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .how-it-works-item {
        max-width: 350px;
    }
}

@media (max-width: 790px) {
    .how-it-works {
        padding: 56px 0;
    }

    .how-it-works-top {
        gap: 50px;
    }

    .how-it-works-item {
        flex-direction: row;
        gap: 16px;
        max-width: 320px;
    }

    .how-it-works-icon img {
        max-width: 55px;
    }

    .how-it-works-bottom {
        margin-top: 56px;
    }

    .how-it-works-bottom-left {
        padding: 15px 0;
        max-width: 350px;
    }

    .how-it-works-bottom-right {
        max-width: 350px;
    }

    .how-it-works-bottom-left .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    .how-it-works-bottom-left .subtext {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        line-height: 1.75;
    }
}

@media (max-width: 748px) {
    .how-it-works-bottom {
        flex-direction: column-reverse;
    }

    .how-it-works-bottom-left {
        max-width: 100%;
        text-align: center;
    }

    .how-it-works-bottom-right {
        min-width: 100%;
    }
}

@media (max-width: 712px) {
    .how-it-works-item {
        max-width: 100%;
        flex: 100%;
    }
}

@media (max-width: 460px) {
    .how-it-works-title h2 {
        font-size: 24px;
        line-height: 1.33;
    }
}

/* HOW-IT-WORKS END */

/* REVIEWS START */

.reviews {
    padding: 57px 0 45px 0;
    background-color: var(--color-extralight-gray);
}

.reviews-title {
    margin-bottom: 32px;
    color: var(--color-black);
}

.reviews-slider {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
}

.slider-item {
    display: none;
    background-color: var(--color-white);
    padding: 22px;
    width: 341px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    user-select: none;
}

.slider-item.visible {
    display: block;
}

.slider-item.hidden {
    display: none;
}

.slider-item:hover {
    box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.slider-item-user {
    display: flex;
    margin-bottom: 20px;
    gap: 16px;
}

.slider-item-text {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

.user-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-info .name {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.user-info .city {
    color: var(--color-dark-gray);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
}

.swiper-container {
    position: relative;
}

.slider-button {
    position: absolute;
    height: 100%;
    width: 32px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center center;
    top: 0;
}

.slider-button.prev {
    left: 0;
    background-image: url('../images/how-it-works/icon-arrow.svg');
}

.slider-button.next {
    right: 0;
    transform: rotate(180deg);
    background-image: url('../images/how-it-works/icon-arrow.svg');
}

.slider-button[disabled] {
    background-image: url('../images/how-it-works/icon-arrow-disabled.svg');
}

.slider-button path {
    fill: var(--color-primary);
}

.slider-button[disabled] path {
    fill: var(--color-mid-gray);
}

.slider-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}

.slider-bullets .bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-mid-gray);
    cursor: pointer;
}

.slider-bullets .bullet.active {
    background-color: var(--color-primary);
}

@media (max-width: 1279px) {
    .reviews-slider {
        max-width: 860px;
    }
}

@media (max-width: 870px) {
    .slider-button.prev,
    .slider-button.next {
        display: none;
    }
}

@media (max-width: 420px) {
    .reviews-title h2 {
      font-size: 24px;
      line-height: 1.33;
    }
}

/* REVIEWS END */

/* FAQ START */

.faq-title {
    margin-top: 80px;
    color: var(--color-black);
}

/* ------------ ACCORDEON START ------------ */
.accordion-wrapper {
    max-width: 1008px;
    margin: 40px auto;
}

.accordion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: color 0.2s ease;
  text-align: left;
}

.accordion .accordion-header {
  position: relative;
  padding: 24px 0;
  cursor: pointer;
  border-top: 1px solid var(--color-extralight-gray);
  transition: color 0.2s ease;
}

.accordion:hover {
  color: var(--color-primary-80);
}

.accordion:hover .accordion-icon {
  color: var(--color-primary-80);
  border-color: var(--color-primary-80);
}

.accordion .accordion-header > h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77;
  text-align: left;
}

.accordion-icon {
  display: block;
  position: absolute;
  top: 28px;
  right: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  color: var(--color-black);
  transition: border 0.2s ease, transform 0.2s ease;
}

.accordion-icon::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "+";
  font-style: normal;
  font-size: 24px;
  position: relative;
  top: -2px;
  transition: transform 0.2s ease, color 0.2s ease;
}

.accordion .accordion-body {
  overflow: hidden;
  max-height: 0px;
  max-width: calc(100% - 72px);
  opacity: 0;
  color: var(--color-dark-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.77;
  transition: 0.2s all ease;
}
  
.accordion-expand .accordion-body {
    opacity: 1;
    max-height: 100%;
    margin-top: 24px;
}

.accordion-expand .accordion-icon {
  transform: rotate(45deg);
}
/* ------------- ACCORDEON END ----------- */

@media (max-width: 960px) {
    .accordion-expand .accordion-body,
    .accordion .accordion-header h4 {
        max-width: calc(100% - 52px);
    }
}

@media (max-width: 420px) {
  .faq-title {
    margin-top: 56px;
  }

  .faq-title h2 {
    font-size: 24px;
    line-height: 1.33;
  }
}

/* FAQ END */

/* COLUMNS START */

.columns {
    background-color: var(--color-extralight-gray);
    padding: 68px 0;
    color: var(--color-black);
}

.columns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.column-item {
    flex: calc(50% - 32px);
}

.column-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.77;
    padding: 0 0 17px 0;
}

.column-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.745
}

@media (max-width: 960px) {
    .columns-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .column-title {
        padding: 0 0 46px 0;
    }
}

@media (max-width: 375px) {
    .column-title {
        padding: 0 0 14px 0;
    }
}

/* COLUMNS END */

/* FORM START */

.form {
    padding: 80px 0;
}

.form-sended {
    margin: 0 auto;
    text-align: center;
    max-width: fit-content;
    font-size: 24px;
    line-height: 1.25;
    color: var(--color-white);
    border: 1px solid var(--color-green);
    background-color: var(--color-green);
    border-radius: 4px;
    padding: 15px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.form-title {
    color: var(--color-black);
    margin-bottom: 44px;
}

.floating-input {
    position: relative;
    width: 100%;
}
  
.floating-input input {
    width: 100%;
    background-color: var(--color-extralight-gray);
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 16px;
    height: 64px;
    font-size: 18px;
    line-height: 1.77;
    color: var(--color-black);
    transition: 
      border 0.1s ease-in,
      box-shadow 0.1s ease-in,
      transform 0.1s ease-in,
      top 0.1s ease-in;
}

.floating-input input + label {
    position: absolute;
    left: 16px;
    color: var(--color-dark-gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
    transition: 
      border .1s ease-in,
      box-shadow .1s ease-in,
      transform .1s ease-in,
      top .1s ease-in,
      font-size .1s ease-in;
}
  
.floating-input input:focus,
.floating-input input:active {
    background-color: var(--color-white);
    border: 2px solid var(--color-mid-gray);
    border-radius: 4px;
    padding: 28px 16px 4px 16px;
}

.floating-input input.invalid {
    border: 2px solid var(--color-red);
    background-color: var(--color-white);
}

.floating-input input.completed {
    border: 2px solid var(--color-light-gray);
    background-color: var(--color-white);
}

.floating-input input:not([placeholder=" "])::placeholder {
    color: transparent;
}

.floating-input input:not(:placeholder-shown) {
    padding: 28px 16px 4px 14px;
}

.floating-input input:not(:placeholder-shown) + label {
    color: var(--color-gray);
}
  
.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label {
    transform: unset;
    top: 8px;
    left: 16px;
    font-size: 14px;
}

.input-state {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 22px;
    top: 22px;
}

.input-state.success {
    background-color: var(--color-green);
}

.input-state.success::after {
    content: '✓';
    color: var(--color-white);
    position: relative;
    left: 4px;
    top: -1px;
}

.input-state.error {
    background-color: var(--color-red);
}

.input-state.error::after {
    content: '✖';
    color: var(--color-white);
    position: relative;
    left: 4px;
    top: -1px;
}

.floating-input input::after {
    content: attr(data-error-text);
    display: block;
    border: 1px solid red;
    width: 300px;
    height: 300px;
}

.error-text {
    position: absolute;
    display: block;
    color: var(--color-red);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    bottom: -20px;
}

.checkbox-wrapper {
    display: flex;
    flex: 50%;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    user-select: none;
}

.checkbox-wrapper label::before {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-mid-gray);
    border-radius: 4px;
    background-color: var(--color-white);
    transition: all 0.1s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked + label::before {
    content: '✓';
    position: relative;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
}

.form-wrapper .button-primary {
    width: 100%;
    flex: 50%;
}

@media (max-width: 640px) {
    .form {
        padding: 56px 0;
    }

    .form-title {
        margin-bottom: 32px;
    }

    .form .input-wrapper {
        flex-direction: column;
        gap: 35px;
    }

    .form-wrapper {
        gap: 20px;
    }

    .checkbox-wrapper {
        margin-top: 15px;
    }
}

@media (max-width: 375px) {
    .form-title h2 {
        font-size: 24px;
        line-height: 32px;
        line-height: 1.33;
    }
}

/* FORM END */


/* FOOTER START */

.footer {
    padding: 28px 0;
    border-top: 1px solid var(--color-light-gray);
}

.footer-text {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.77;
    text-align: center;
}

/* FOOTER END */
